@inject NavigationManager NavigationManager;

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">

                <NotAuthorized>
                    @{
                        if ( !context.User.Identity!.IsAuthenticated || !context.User.HasClaim("userType", "Client") )
                        {
                            NavigationManager.NavigateTo(Routes.Customer.RegisterTicketNotAvailable);
                            // NavigationManager.NavigateTo(Routes.Customer.LoginCustomer);
                        }
                        else
                        {
                            NavigationManager.NavigateTo(Routes.Customer.RegisterTicketNotAvailable);
                            // NavigationManager.NavigateTo(Routes.Dashboard);
                        }
                    }
                </NotAuthorized>

            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>

        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(LoginLayoutAdmin)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>